@{
    ViewData["Title"] = "Home Page";
}

<body>
    <br /><br /><br /><br />
    <div id="title">Title</div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        import axios from "axios";

        const options = {
            method: 'POST',
            url: 'https://bravenewcoin.p.rapidapi.com/oauth/token',
            headers: {
                'content-type': 'application/json',
                'x-rapidapi-host': 'bravenewcoin.p.rapidapi.com',
                'x-rapidapi-key': 'dacc04f642msha48f626c35e16a2p102850jsnef6fe0721eb7'
            },
            data: {
                audience: 'https://api.bravenewcoin.com',
                client_id: 'oCdQoZoI96ERE9HY3sQ7JmbACfBf55RY',
                grant_type: 'client_credentials'
            }
        };

        axios.request(options).then(function (response) {
            console.log(response.data);
        }).catch(function (error) {
            console.error(error);
        });

        var player_turn = "X";
        function turn(square_id) {
            if (player_turn == "X") {
                document.getElementById(square_id).value = "X";
                document.getElementById(square_id).disabled = true;
                document.getElementById('change_turn').value = "O's turn";
                player_turn = "O";
            }
            else {
                document.getElementById(square_id).value = "O";
                document.getElementById(square_id).disabled = true;
                document.getElementById('change_turn').value = "X's turn";
                player_turn = "X";
            }
        }
        function start_board() {
            var rand_num = Math.floor(Math.random() * 2);
            if (rand_num == 0) {
                document.getElementById('change_turn').value = "X's turn";
                player_turn = "X";
            }
            else {
                document.getElementById('change_turn').value = "O's turn";
                player_turn = "O";
            }
            document.getElementById('1').disabled = false;
            document.getElementById('2').disabled = false;
            document.getElementById('3').disabled = false;
            document.getElementById('4').disabled = false;
            document.getElementById('5').disabled = false;
            document.getElementById('6').disabled = false;
            document.getElementById('7').disabled = false;
            document.getElementById('8').disabled = false;
            document.getElementById('9').disabled = false;
        }
        function reset_board() {
            document.getElementById('1').value = "";
            document.getElementById('2').value = "";
            document.getElementById('3').value = "";
            document.getElementById('4').value = "";
            document.getElementById('5').value = "";
            document.getElementById('6').value = "";
            document.getElementById('7').value = "";
            document.getElementById('8').value = "";
            document.getElementById('9').value = "";
            document.getElementById('1').disabled = true;
            document.getElementById('2').disabled = true;
            document.getElementById('3').disabled = true;
            document.getElementById('4').disabled = true;
            document.getElementById('5').disabled = true;
            document.getElementById('6').disabled = true;
            document.getElementById('7').disabled = true;
            document.getElementById('8').disabled = true;
            document.getElementById('9').disabled = true;
        }
        function check() {
            var square_1 = document.getElementById('1').value;
            var square_2 = document.getElementById('2').value;
            var square_3 = document.getElementById('3').value;
            var square_4 = document.getElementById('4').value;
            var square_5 = document.getElementById('5').value;
            var square_6 = document.getElementById('6').value;
            var square_7 = document.getElementById('7').value;
            var square_8 = document.getElementById('8').value;
            var square_9 = document.getElementById('9').value;

            var counter = 0;

            if (square_1 == 'X' && square_2 == 'X' && square_3 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_1 == 'O' && square_2 == 'O' && square_3 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_4 == 'X' && square_5 == 'X' && square_6 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_4 == 'O' && square_5 == 'O' && square_6 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_7 == 'X' && square_8 == 'X' && square_9 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_7 == 'O' && square_8 == 'O' && square_9 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_1 == 'X' && square_4 == 'X' && square_7 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_1 == 'O' && square_4 == 'O' && square_7 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_2 == 'X' && square_5 == 'X' && square_8 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_2 == 'O' && square_5 == 'O' && square_8 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_3 == 'X' && square_6 == 'X' && square_9 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_3 == 'O' && square_6 == 'O' && square_9 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_1 == 'X' && square_5 == 'X' && square_9 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_1 == 'O' && square_5 == 'O' && square_9 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }
            else if (square_3 == 'X' && square_5 == 'X' && square_7 == 'X') {
                counter = 1;
                alert("Player one has won!");
            }
            else if (square_3 == 'O' && square_5 == 'O' && square_7 == 'O') {
                counter = 1;
                alert("Player two has won!");
            }

            if (counter == 1) {
                document.getElementById('1').disabled = true;
                document.getElementById('2').disabled = true;
                document.getElementById('3').disabled = true;
                document.getElementById('4').disabled = true;
                document.getElementById('5').disabled = true;
                document.getElementById('6').disabled = true;
                document.getElementById('7').disabled = true;
                document.getElementById('8').disabled = true;
                document.getElementById('9').disabled = true;
            }
        }


        var board = document.getElementById('snake_game');

        function create_board() {
            for (var i = 0; i < 100; i++) {
                var div = document.createElement("div");
                board.appendChild(div);
            }
        }

        function start_game() {
            create_snake();
        }

        function create_snake() {

        }

        document.addEventListener("DOMContentLoaded", function () {
            document.addEventListener("keyup", control);
            create_board();
            start_game();
            play_again.addEventListener("click", replay);
        });
    </script>

    <div class="top_navbar">
        <button id="button">One</button>
        <button id="button">Two</button>
        <button id="button">Three</button>
        <button id="button">Four</button>
        <button id="last_button">Five</button>
    </div>

    <h2 id="game_title">Tic-Tac-Toe</h2>

    <button class="main-analyze-button" onclick="onAnalyzeButtonClick()">Analyze...</button>

    <button id="start" onclick="start_board()">Start</button>
    <button id="reset" onclick="reset_board()">Reset</button>

    <form class="tic-tac-toe">
        <input id="1" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('1'); check()" readonly disabled />
        <input id="2" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('2'); check()" readonly disabled />
        <input id="3" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('3'); check()" readonly disabled /> <br />
        <input id="4" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('4'); check()" readonly disabled />
        <input id="5" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('5'); check()" readonly disabled />
        <input id="6" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('6'); check()" readonly disabled /> <br />
        <input id="7" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('7'); check()" readonly disabled />
        <input id="8" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('8'); check()" readonly disabled />
        <input id="9" type="text" style="width: 75px; height: 75px; text-align: center; font-size: 40px" onclick="turn('9'); check()" readonly disabled /> <br /><br />
        <input id="change_turn" type="text" style="width: 125px" value="X's turn" readonly />
    </form>

    <div class="snake_game"></div>
</body>

<style>
    body {
        background-color: rgb(27, 28, 28);
    }

    #title {
        color: white;
        text-align: center;
    }

    .top_navbar {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 6%;
        background-color: rgb(27, 191, 155)
    }

    #button {
        width: 19.5%;
        height: 100%;
        color: white;
        padding: 0px;
        background-color: transparent;
        border: none;
        border-right: 1.3px solid;
        border-color: white;
        text-align: center;
    }

    #last_button {
        width: 19.75%;
        color: white;
        padding: 0px;
        background-color: transparent;
        border: none;
        text-align: center;
    }

    #start {
        position: fixed;
        top: 375px;
        left: 40px;
    }

    #reset {
        position: fixed;
        top: 375px;
        left: 92px;
    }

    #change_turn {
        position: fixed;
        top: 375px;
        left: 150px;
    }

    #game_title {
        color: white;
        position: fixed;
        top: 60px;
        left: 80px;
    }

    .tic-tac-toe {
        position: fixed;
        top: 130px;
        left: 40px;
    }
</style>